{{ $data := .Site.Data.approach.certs }}
<section id="certs" class="py-8 xl:py-16">
  <div class="container mx-auto px-4">
    {{ with $data.title }}
      <h1 class="text-primary mb-16 text-center text-2xl font-semibold">{{ . }}</h1>
    {{ end }}

    {{ if $data.items }}
      <div class="flex flex-col flex-wrap items-center justify-around gap-8 xl:flex-row">
        {{ range $i, $e := $data.items }}
          {{ if $e }}
            <div>
              {{ partial "utilities/image.html" (dict "src" $e "class" "w-auto h-8") }}
            </div>
          {{ else }}
            <div class="text-red-500 text-sm">⚠️ Missing image for item {{ $i }}</div>
          {{ end }}
        {{ end }}
      </div>
    {{ else }}
      <div class="text-red-500">⚠️ Geen items gevonden in certs.yaml</div>
    {{ end }}
  </div>
</section>
