<section id="intro" class="hero py-8 xl:py-16">
  {{ $data := .Site.Data.approach.intro }}
  <div class="container mx-auto grid gap-16 px-4 xl:grid-cols-2">
    <div class="flex flex-col justify-center gap-8 xl:gap-16">
      {{ with $data.title }}
        <h1 class="text-primary title text-center text-4xl font-bold xl:text-start xl:text-5xl">
          {{ . | safeHTML }}
        </h1>
      {{ end }}
      {{ with $data.text }}
        <div class="text-center xl:text-start [&>ul]:list-disc [&>ul]:pl-6 [&>ul]:space-y-2">
           {{ . | safeHTML }}
        </div>
      {{ end }}
      {{ if $data.buttons }}
        <div class="flex flex-col items-center gap-4 xl:flex-row xl:gap-8">
          {{ range $i, $e := $data.buttons }}
            {{ if (eq $i 0) }}
              <a class="bg-primary hover:bg-primary/90 rounded px-8 py-2 text-white duration-500" href="{{ $e.url }}">
                {{ $e.label }}
              </a>
            {{ else }}
              <a
                class="border-primary text-primary hover:bg-primary flex items-center gap-2 rounded border px-8 py-2 duration-500 hover:text-white"
                href="{{ $e.url }}"
              >
                {{ $e.label }}
                {{ partial "icons/arrow-right" }}
              </a>
            {{ end }}
          {{ end }}
        </div>
      {{ end }}
    </div>
   <div class="hidden items-center xl:flex">
      {{ with $data.image }}
        {{ partial "utilities/image" (dict
          "src"   .src
          "alt"   .alt
          "class" "max-w-full object-cover object-center") }}
        {{ end }}
    </div>
  </div>
</section>
